{
	"arrowParens": "always",
	"bracketSpacing": false,
	"endOfLine": "lf",
	"useTabs": true,
	"trailingComma": "all",
	"tabWidth": 2,
	"singleQuote": false,
	"semi": true,
	"singleAttributePerLine": true,
	"printWidth": 80,
	"htmlWhitespaceSensitivity": "css",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true,
	"plugins": ["prettier-plugin-organize-imports"]
}
